.combo-box {

  -fx-background-color: #1d1d1d;
  -fx-font-family: $fontFamily;
  -fx-text-fill: #eee;
  -fx-font-size: $fontSizeh6;
  -fx-font-style: normal;

  .view-login & { //view-cadastro-empresa &, .view-cadastro-produto & {
    -fx-font-size: $fontSizeh5;
  }
}


