.label {
  -fx-font-size: $fontSizeh5;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
  -fx-opacity: 0.6;


  &.lbl_titulo {
    -fx-font-size: $fontSizeh1;
    -fx-font-weight: bold;
    -fx-alignment: center;
  }

  &.img-background-principal {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../../image/painel/principal.png") no-repeat center;
  }
}